<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="li">
        <h1>PUBG MOBILE</h1>
    </header>

    <nav class="ul">
        <ul>
        </ul>
    </nav>
    <section class="kuku">
        <img src="../rasmlar/uaz.png" alt=""><video width="600" height="450" controls>
            <source src="video-feature2.b4ff12b.mp4" type="video/mp4">
        </video></div>
        <img src="../rasmlar/coupe.png" alt="">
        <img src="../rasmlar/mirado.png" alt="">
        <img src="../rasmlar/kupe.png" alt="">
        <img src="../rasmlar/daca.png" alt="">
        <img src="../rasmlar/brdm.png" alt="">
        <img src="../rasmlar/buggy.png" alt="">
        <img src="../rasmlar/motorbike.png" alt="">
        <img src="../rasmlar/mountainbike.png" alt="">
    </section>
    <footer>
        <p><a href="/">Exit</a></p>
    </footer>
</body>
</html>