<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="li">
        <h1>PUBG MOBILE</h1>
    </header>

    <nav class="ul">
        <ul>
            <li><a href="/erangel">Erangel</a></li>
            <li><a href="/karakin">Karakin</a></li>
            <li><a href="/sanhok">Sanhok</a></li>
        </ul>
    </nav>
    <section class="d">
        <img src="../card png/erangel.jpg" alt="">
        <img src="../card png/erangel 4.jpg" alt="">
        <img src="../card png/livik.jpg" alt="">
        <img src="../card png/erangel 3.jpg" alt="">
        <img src="../card png/livik 2.jpg" alt="">
        <img src="../card png/sanhok 2.jpg" alt="">
        <img src="../card png/nusa.jpg" alt="">
        <img src="../card png/nusa 2.jpg" alt="">
    </section>
    <footer>
        <p><a href="/">Exit</a></p>
    </footer>
</body>
</html>
https://pubg.com/ru/game-info/maps/erangel