<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="li">
        <h1>PUBG MOBILE</h1>
    </header>
    <nav>
        <ul>
        </ul>
        <section class="xs">
            <div class="weapon"><img src="../rasmlar/m416.png" alt=""><h2>Avval shuni yodda tutingki, M416 ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz M416 so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/m762.png" alt=""><h2>Avval shuni yodda tutingki, Beryl M762 ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz Beryl M762 so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/groza.png" alt=""><h2>Avval shuni yodda tutingki, GROZA ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz GROZA so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/dbs.png" alt=""><h2>Avval shuni yodda tutingki, DBS ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz DBS so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/12k.png" alt=""><h2>Avval shuni yodda tutingki, 12K ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz 12K so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/amr.png" alt=""><h2>Avval shuni yodda tutingki, AMR ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz AMR so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/Awm.png" alt=""><h2>Avval shuni yodda tutingki, AWM ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz AWM so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/m24.png" alt=""><h2>Avval shuni yodda tutingki, M24 ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz M24 so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/ump45.png" alt=""><h2>Avval shuni yodda tutingki, UMP45 ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz UMP45 so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/uzi.png" alt=""><h2>Avval shuni yodda tutingki, Micro UZI ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz Micro UZI so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/vector.png" alt=""><h2>Avval shuni yodda tutingki, VECTOR ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz VECTOR so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/gun.png" alt=""><h2>Avval shuni yodda tutingki,  TOMSN ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz  TOMSN so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/bizon.png" alt=""><h2>Avval shuni yodda tutingki, ПП-19 БИЗОН ko'p qirrali bo'lishdan tashqari, barcha turdagi aksessuarlarni qo'llab-quvvatlaydi. Siz qurolingizni barrel, tutqich, jurnal, zaxira va ko'lamini yangilash bilan jihozlashingiz mumkin. Ushbu maqolada biz ПП-19 БИЗОН so'ragan har bir pozitsiya uchun barcha aksessuarlardan qaysi biri eng yaxshisi ekanligini ko'rib chiqamiz.</h2></div>
            <div class="weapon"><img src="../rasmlar/smok grenade.png" alt=""><video width="600" height="450" controls>
            <source src="video-smoke_grenade-1.mp4" type="video/mp4">
                </video></div>
            <div class="weapon"><img src="../rasmlar/grenade.png" alt=""><video width="600" height="450" controls>
                <source src="video-frag_grenade-1.mp4" type="video/mp4">
            </video></div>
            <div class="weapon"><img src="../rasmlar/cocktail.png" alt=""><video width="600" height="450" controls>
                <source src="video-molotov_cocktail-1.mp4" type="video/mp4">
               </video></div>
            <div class="weapon"><img src="../rasmlar/skavarodka.png" alt=""><video width="600" height="400" controls>
                <source src="video-pan-1.mp4" type="video/mp4">
            </video></div>
        </section>
    <footer>
        <p><a href="/">Exit</a></p>
    </footer>

</body>
</html>