<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="script.js"></script>
    <title>Your Page Title</title>
</head>
<body>

    <header class="li">
        <h1>PUBG MOBILE</h1>
    </header>

    <nav class="ul">
        <ul>
            <li><a href="/registration">Register</a></li>
            <li><a href="/season">Rp season</a></li>
            <li><a href="/weapsons">Weapons</a></li>
            <li><a href="/cars">Cars</a></li>
            <li><a href="/uc">Uc</a></li>
            <li><a href="/set">Set</a></li>
            <li><a href="/card">Card</a></li>
        </ul>
    </nav>

    <section class="kuku">
        <h2>PUBG MOBILE haqida hamma malumotlar shu yerda</h2>
        <p>PUBG Mobile - bu Tencent Games bo'limi LightSpeed & Quantum Studio tomonidan ishlab chiqilgan bepul jangovar qirollik videoo'yini. Bu PUBG: Battlegrounds mobil o‘yiniga moslashtirilgan va mobil versiyasidir. Dastlab u Android va iOS uchun 2018-yil 19-martda global versiyasini chiqarilgan.
        U Krafton, Tencent va VNG Games kabi turli mintaqalardagi bir nechta noshirlar tomonidan nashr etilgan. 2022-yil dekabriga kelib, PUBG Mobile 1,3 milliardga yaqin yuklashni to‘pladi va 9 milliard dollardan ortiq daromad keltirdi. Bu, shuningdek, barcha vaqtlardagi ikkinchi eng ko'p o'ynalgan mobil video o'yindir. 2021-yilda oʻyin hind tilidagi “Battlegrounds Mobile India” versiyasini va PUBG Universeda boʻlib oʻtadigan New State Mobile deb nomlangan alohida oʻyinni yaratdi</p>
        <p>O'yinda 100 tagacha oʻyinchi jang qiladi, bunda ayrim xaritalarda kattaligiga qarab odam soni kamayishi mumkin. Oʻyinchilar omon qolgan soʻnggi boʻlish uchun oʻzaro kurashadilar. Oʻyinchilar oʻyinga qanday kirishni tanlashlari mumkin: yakka holda, juftlikda, trioda yoki toʻrt kishilik jamoada. Har qanday holatda ham, oxirgi tirik qolgan kishi yoki jamoa oʻyinda gʻalaba qozonadi.

            Har bir o'yin barcha o'yinchilarning samolyotdan 1 x 1 2 x 2, 4 x 4, 6 x 6 yoki 8 x 8 km xarita boʻylab parashyutdan sakrashi bilan boshlanadi. Samolyotning xarita boʻylab parvoz yoʻli oʻyin boshida tasodifiy tanlanadi, bu oʻyinchilardan parashyutdan sakrash uchun eng yaxshi vaqtni tezda aniqlashni talab qiladi. Oʻyinchilar raundni hech qanday jihozlarsiz boshlashadi, oʻyin jarayoniga deyarli taʼsir qilmaydigan moslashtirilgan kiyimlar bundan mustasno. Oʻyinchilar qoʻngandan soʻng, ular turli binolar, inshootlar va boshqa inshootlarda qurol, transport vositalari, kiyim-kechak, zirh, taktik jihozlar, tibbiy buyumlar va boshqa narsalarni qidirishlari mumkin.
            Qo'ngandan keyin bir muncha vaqt o'tgach, har bir necha daqiqada xaritaning oʻynash mumkin boʻlgan maydoni tasodifiy joyda qisqara boshlaydi, xavfsiz zonadan tashqaridagi har qanday oʻyinchi shikastlana boshlaydi, bu oxir-oqibat ularning oʻlimiga va ular uchun oʻyinning tugashiga olib keladi qachonki ular oʻz vaqtida xavfsiz zonaga etib borishga ulgurmasalar; oʻyinda oʻyinchi hududning chegarasini vaqt oʻtishi bilan torayib borayotgan moviyrang devor sifatida koʻradi.</p>
    </section>

    <footer>
        <p>Exit</p>
    </footer>
</body>
</html>