<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="li">
        <h1>PUBG MOBILE</h1>
    </header>

    <nav class="ul">
        <ul>
            <li><a href="#">2 season</a></li>
            <li><a href="#">3 season</a></li>
            <li><a href="#">4 season</a></li>
            <li><a href="#">5 season</a></li>
            <li><a href="#">6 season</a></li>
            <li><a href="#">7 season</a></li>
            <li><a href="#">8 season</a></li>
            <li><a href="#">9 season</a></li>
            <li><a href="#">10 season</a></li>
            <li><a href="#">11 season</a></li>
            <li><a href="#">12 season</a></li>
            <li><a href="#">13 season</a></li>
            <li><a href="#">14 season</a></li>
            <li><a href="#">15 season</a></li>
            <li><a href="#">16 season</a></li>
            <li><a href="#">17 season</a></li>
            <li><a href="#">18 season</a></li>
            <li><a href="#">19 season</a></li>
        </ul>
    </nav>
    <section class="a">
        <img src="../rp png/2 sezon.jpg" alt="">
        <img src="../rp png/3 sezon.jpg" alt="">
        <img src="../rp png/4 sezon.jpg" alt="">
        <img src="../rp png/5 sezon.jpg" alt="">
        <img src="../rp png/6 sezon.jpg" alt="">
        <img src="../rp png/7 sezon.jpg" alt="">
        <img src="../rp png/8 sezon.jpg" alt="">
        <img src="../rp png/9 sezon.jpg" alt="">
        <img src="../rp png/10 sezon.jpg" alt="">
        <img src="../rp png/11 sezon.jpg" alt="">
        <img src="../rp png/12 sezon.jpg" alt="">
        <img src="../rp png/13 sezon.jpg" alt="">
        <img src="../rp png/14 sezon.jpg" alt="">
        <img src="../rp png/15 sezon.jpg" alt="">
        <img src="../rp png/16 sezon.jpg" alt="">
        <img src="../rp png/17 sezon.jpg" alt="">
        <img src="../rp png/18 sezon.jpg" alt="">
        <img src="../rp png/19 sezon.jpg" alt="">
    </section>
    <footer>
        <p><a href="/">Exit</a></p>
    </footer>
</body>
</html>