<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="li">
        <h1>PUBG MOBILE</h1>
    </header>

    <nav class="ul">
    </nav>
    <section class="">
        <video width="600" height="450" controls>
            <source src="video-feature1.8e492f9.mp4" type="video/mp4">
        </video></div>
        <video width="600" height="450" controls>
            <source src="video-feature2.0cd8312.mp4" type="video/mp4">
        </video></div>
        <video width="600" height="400" controls>
            <source src="video-feature3.d4c9ecc.mp4" type="video/mp4">
        </video></div>
    </section>
    <footer>
        <p><a href="/">Exit</a></p>
    </footer>
</body>
</html>