<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="li">
        <h1>PUBG MOBILE</h1>
    </header>

    <nav class="ul">
        <ul>
            <li><a href="#">UC</a></li>
        </ul>
    </nav>
    <section class="ss">
        <h2>UC NARXLARI BIZDA JUDA TEZ VA ARZON NARHLARDA</h2>
        <p></p>
        <img src="../card png/uc narxi.jpg" alt="">
        <img src="../card png/uc.jpg" alt="">
        </section>
    <footer>
        <p><a href="/">Exit</a></p>
    </footer>
</body>
</html>